<!DOCTYPE html>
<html>
<head>
	<title>Hello Vue.js</title>
</head>
<body>
	<div id="app">
		<p>{{ message}}</p>
		<input type="text" v-model="message">
		<h2 v-show="yes">Yes!</h2>
		<h2 v-show="age >= 23">Age：{{ age }}</h2>
		<h2 v-show="name.indexOf('Jack')>=0">Name：{{ name }}</h2>
		<h2 v-if="yes">Yes!</h2>
		<h2 v-if="age >= 23">Age：{{ age }}</h2>
		<h2 v-if="name.indexOf('Jack')>=0">Name：{{ name }}</h2>


		<h2 v-show="age >= 23">Age：{{ age }}</h2>
		<h2 v-else>Name：{{name}}</h2>
		<h2>---------------------------------</h2>
		<h2 v-if="name.indexOf('J')>=0">Name：{{ name }}</h2>
		<h2 v-else>Sex：{{sex}}</h2>
	</div>
	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript">
		new Vue({
			el: "#app",
			data:{
				message : "Hello Vue.js!",
				yes:true,
				age:44,
				name:"hhJe",
				sex:"nan"
			}
		});
	</script>
</body>
</html>